---

In [53]:
import pandas as pd

In [54]:
dados = pd.read_csv('learning_matematica.csv', sep=';')
dados

,Nome_Aluno,Idade,Nota_Algebra,Nota_Geometria,Nota_Numeros,Nota_Grandezas,Nota_Estatistica,Nota_Probabilidade,Horas_Estudadas_Semana,Participacao_Grupo_Estudo,Uso_Plataforma_Online
0,Estudante_1,16,NaN,7.179975,7.753990,9.835149,6.109966,9.464301,6,0,0
1,Estudante_2,13,8.601622,NaN,8.540739,7.736161,9.353662,6.659899,4,0,1
2,Estudante_3,15,5.000572,7.748312,6.454524,9.863422,NaN,9.106146,9,1,1
3,Estudante_4,15,6.511663,7.176612,NaN,8.574080,NaN,5.208483,8,0,1
4,Estudante_5,14,5.733779,7.101839,9.464735,8.488644,7.442056,5.538283,4,1,1
5,Estudante_6,17,NaN,NaN,9.481465,6.080447,8.058719,7.975260,6,0,1
6,Estudante_7,12,5.931301,6.023243,5.627927,9.881372,8.829539,7.649087,4,0,0
7,Estudante_8,12,6.727804,NaN,6.036214,5.031151,7.592090,7.094037,9,1,0
8,Estudante_9,12,6.983837,6.498273,5.257336,6.264912,6.484003,6.677039,1,1,1
9,Estudante_10,13,7.694084,6.334136,7.204049,7.173958,5.938606,8.112597,8,1,1
10,Estudante_11,13,7.095973,8.105669,5.149381,8.896915,5.403706,7.190707,8,1,1
11,Estudante_12,16,8.426098,7.645710,7.284166,5.988425,8.692201,8.679411,1,0,1
12,Estudante_13,16,6.022261,5.672900,8.245720,9.314966,7.206546,7.590182,4,1,0
13,Estudante_14,15,9.390587,7.567891,6.392436,9.917003,5.791549,7.894293,6,1,1
14,Estudante_15,15,NaN,5.922199,8.381275,5.819211,9.399685,8.226775,4,0,1
15,Estudante_16,12,8.352338,8.926676,7.954314,7.986670,NaN,9.951121,3,0,1
16,Estudante_17,15,7.086524,9.269876,NaN,5.044930,7.071175,9.099291,4,1,0
17,Estudante_18,16,7.793449,NaN,7.794270,NaN,NaN,7.066005,5,0,0
18,Estudante_19,15,5.701935,9.232807,6.296262,5.220800,8.143940,9.381338,1,1,1
19,Estudante_20,16,5.990507,5.398227,7.075506,9.783265,7.899189,9.118797,9,0,1
20,Estudante_21,12,9.003723,7.526230,6.417625,7.180733,NaN,5.272373,7,1,0
21,Estudante_22,16,9.841308,5.326433,8.465690,9.744887,6.329096,8.593186,4,0,1
22,Estudante_23,12,6.567121,7.140612,7.202269,8.931530,6.423429,NaN,3,0,1
23,Estudante_24,15,8.461613,5.482655,5.784339,9.331446,6.267941,8.682033,2,0,0
24,Estudante_25,16,9.381946,5.635800,7.723245,NaN,6.637820,8.545659,7,1,1
25,Estudante_26,16,9.473033,7.983727,NaN,5.374743,5.720822,7.704684,9,0,1
26,Estudante_27,15,5.425221,6.130060,NaN,8.003714,5.828064,5.624121,9,0,1
27,Estudante_28,16,5.195274,NaN,6.109789,5.839861,9.819653,9.788236,1,1,1
28,Estudante_29,12,5.849152,6.101531,6.939856,8.666901,9.801134,7.016281,8,1,1
29,Estudante_30,17,9.390713,6.749131,9.681918,7.042219,5.942073,6.084756,7,1,0
30,Estudante_31,17,5.491734,7.338937,9.879977,NaN,5.121533,8.586379,1,1,1
31,Estudante_32,12,7.105538,NaN,8.361918,9.687858,6.022778,NaN,2,1,1
32,Estudante_33,16,9.789448,8.202034,9.514171,7.608481,8.499218,6.278070,9,0,1
33,Estudante_34,15,7.665826,7.415349,9.228754,5.540967,8.897573,NaN,6,1,0
34,Estudante_35,14,8.459386,7.526184,6.889970,5.791117,5.114665,7.995030,9,0,0
35,Estudante_36,15,6.577578,6.934463,5.461085,7.726013,7.888314,8.586661,6,0,1
36,Estudante_37,17,8.432505,8.968187,8.267055,7.622020,5.008211,9.686748,2,1,0
37,Estudante_38,13,9.173128,7.900021,7.789204,8.188051,7.577363,6.759049,2,1,1
38,Estudante_39,16,5.091441,5.811493,6.807824,7.007477,8.198976,6.268170,3,1,1
39,Estudante_40,16,8.750722,8.503762,6.125273,8.249026,NaN,7.012363,6,0,1
40,Estudante_41,15,9.944305,9.822755,7.032600,6.984500,6.295488,8.732554,7,1,1
41,Estudante_42,17,8.740828,NaN,7.344701,8.119581,9.012484,8.620353,5,1,0
42,Estudante_43,14,6.402220,9.447600,6.346178,8.837025,9.352415,7.030539,1,0,1
43,Estudante_44,17,8.946397,6.708068,6.458964,5.894870,9.613748,9.946899,5,1,1
44,Estudante_45,16,5.516130,7.835721,7.288432,6.877879,5.011071,NaN,3,0,1
45,Estudante_46,13,7.239468,7.137730,9.302670,7.512665,7.347442,6.869042,7,1,1
46,Estudante_47,12,9.542978,7.183736,7.931265,8.433335,9.907344,8.548143,3,1,1
47,Estudante_48,16,6.468071,8.882796,6.417439,6.268398,NaN,5.412293,2,1,1
48,Estudante_49,14,NaN,7.678021,6.389888,7.773704,9.068662,6.991865,3,1,0
49,Estudante_50,13,5.650143,9.768711,7.273110,8.124654,7.732282,8.854405,1,0,1

---

Conhecendo os dados

In [55]:
dados.shape

(50, 11)

In [56]:
dados.columns

Index(['Nome_Aluno', 'Idade', 'Nota_Algebra', 'Nota_Geometria', 'Nota_Numeros',
       'Nota_Grandezas', 'Nota_Estatistica', 'Nota_Probabilidade',
       'Horas_Estudadas_Semana', 'Participacao_Grupo_Estudo',
       'Uso_Plataforma_Online'],
      dtype='object')

In [57]:
dados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 11 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Nome_Aluno                 50 non-null     object
 1   Idade                      50 non-null     int64
 2   Nota_Algebra               46 non-null     float64
 3   Nota_Geometria             43 non-null     float64
 4   Nota_Numeros               46 non-null     float64
 5   Nota_Grandezas             47 non-null     float64
 6   Nota_Estatistica           43 non-null     float64
 7   Nota_Probabilidade         46 non-null     float64
 8   Horas_Estudadas_Semana     50 non-null     int64
 9   Participacao_Grupo_Estudo  50 non-null     int64
 10  Uso_Plataforma_Online      50 non-null     int64
dtypes: float64(6), int64(4), object(1)
memory usage: 4.4+ KB

In [88]:
dados.describe().T

,count,mean,std,min,25%,50%,75%,max
Idade,50.0,14.660000,1.697657,12.000000,13.000000,15.000000,16.000000,17.000000
Nota_Algebra,46.0,7.448289,1.539823,5.000572,5.998446,7.172503,8.748248,9.944305
Nota_Geometria,43.0,7.370839,1.237914,5.326433,6.416205,7.338937,8.044698,9.822755
Nota_Numeros,46.0,7.365859,1.263394,5.149381,6.398687,7.238580,8.261721,9.879977
Nota_Grandezas,47.0,7.643939,1.484196,5.031151,6.266655,7.736161,8.751963,9.917003
Nota_Estatistica,43.0,7.392005,1.519495,5.008211,6.066372,7.442056,8.760870,9.907344
Nota_Probabilidade,46.0,7.764629,1.328131,5.208483,6.899748,7.934777,8.681378,9.951121
Horas_Estudadas_Semana,50.0,4.880000,2.715338,1.000000,3.000000,4.500000,7.000000,9.000000
Participacao_Grupo_Estudo,50.0,0.560000,0.501427,0.000000,0.000000,1.000000,1.000000,1.000000
Uso_Plataforma_Online,50.0,0.720000,0.453557,0.000000,0.000000,1.000000,1.000000,1.000000

---

Observados as informacoes que serao usada para o estudo

In [66]:
df_estudo = dados.drop(columns=["Horas_Estudadas_Semana", "Participacao_Grupo_Estudo", "Uso_Plataforma_Online"])
df_estudo

,Nome_Aluno,Idade,Nota_Algebra,Nota_Geometria,Nota_Numeros,Nota_Grandezas,Nota_Estatistica,Nota_Probabilidade
0,Estudante_1,16,NaN,7.179975,7.753990,9.835149,6.109966,9.464301
1,Estudante_2,13,8.601622,NaN,8.540739,7.736161,9.353662,6.659899
2,Estudante_3,15,5.000572,7.748312,6.454524,9.863422,NaN,9.106146
3,Estudante_4,15,6.511663,7.176612,NaN,8.574080,NaN,5.208483
4,Estudante_5,14,5.733779,7.101839,9.464735,8.488644,7.442056,5.538283
5,Estudante_6,17,NaN,NaN,9.481465,6.080447,8.058719,7.975260
6,Estudante_7,12,5.931301,6.023243,5.627927,9.881372,8.829539,7.649087
7,Estudante_8,12,6.727804,NaN,6.036214,5.031151,7.592090,7.094037
8,Estudante_9,12,6.983837,6.498273,5.257336,6.264912,6.484003,6.677039
9,Estudante_10,13,7.694084,6.334136,7.204049,7.173958,5.938606,8.112597
10,Estudante_11,13,7.095973,8.105669,5.149381,8.896915,5.403706,7.190707
11,Estudante_12,16,8.426098,7.645710,7.284166,5.988425,8.692201,8.679411
12,Estudante_13,16,6.022261,5.672900,8.245720,9.314966,7.206546,7.590182
13,Estudante_14,15,9.390587,7.567891,6.392436,9.917003,5.791549,7.894293
14,Estudante_15,15,NaN,5.922199,8.381275,5.819211,9.399685,8.226775
15,Estudante_16,12,8.352338,8.926676,7.954314,7.986670,NaN,9.951121
16,Estudante_17,15,7.086524,9.269876,NaN,5.044930,7.071175,9.099291
17,Estudante_18,16,7.793449,NaN,7.794270,NaN,NaN,7.066005
18,Estudante_19,15,5.701935,9.232807,6.296262,5.220800,8.143940,9.381338
19,Estudante_20,16,5.990507,5.398227,7.075506,9.783265,7.899189,9.118797
20,Estudante_21,12,9.003723,7.526230,6.417625,7.180733,NaN,5.272373
21,Estudante_22,16,9.841308,5.326433,8.465690,9.744887,6.329096,8.593186
22,Estudante_23,12,6.567121,7.140612,7.202269,8.931530,6.423429,NaN
23,Estudante_24,15,8.461613,5.482655,5.784339,9.331446,6.267941,8.682033
24,Estudante_25,16,9.381946,5.635800,7.723245,NaN,6.637820,8.545659
25,Estudante_26,16,9.473033,7.983727,NaN,5.374743,5.720822,7.704684
26,Estudante_27,15,5.425221,6.130060,NaN,8.003714,5.828064,5.624121
27,Estudante_28,16,5.195274,NaN,6.109789,5.839861,9.819653,9.788236
28,Estudante_29,12,5.849152,6.101531,6.939856,8.666901,9.801134,7.016281
29,Estudante_30,17,9.390713,6.749131,9.681918,7.042219,5.942073,6.084756
30,Estudante_31,17,5.491734,7.338937,9.879977,NaN,5.121533,8.586379
31,Estudante_32,12,7.105538,NaN,8.361918,9.687858,6.022778,NaN
32,Estudante_33,16,9.789448,8.202034,9.514171,7.608481,8.499218,6.278070
33,Estudante_34,15,7.665826,7.415349,9.228754,5.540967,8.897573,NaN
34,Estudante_35,14,8.459386,7.526184,6.889970,5.791117,5.114665,7.995030
35,Estudante_36,15,6.577578,6.934463,5.461085,7.726013,7.888314,8.586661
36,Estudante_37,17,8.432505,8.968187,8.267055,7.622020,5.008211,9.686748
37,Estudante_38,13,9.173128,7.900021,7.789204,8.188051,7.577363,6.759049
38,Estudante_39,16,5.091441,5.811493,6.807824,7.007477,8.198976,6.268170
39,Estudante_40,16,8.750722,8.503762,6.125273,8.249026,NaN,7.012363
40,Estudante_41,15,9.944305,9.822755,7.032600,6.984500,6.295488,8.732554
41,Estudante_42,17,8.740828,NaN,7.344701,8.119581,9.012484,8.620353
42,Estudante_43,14,6.402220,9.447600,6.346178,8.837025,9.352415,7.030539
43,Estudante_44,17,8.946397,6.708068,6.458964,5.894870,9.613748,9.946899
44,Estudante_45,16,5.516130,7.835721,7.288432,6.877879,5.011071,NaN
45,Estudante_46,13,7.239468,7.137730,9.302670,7.512665,7.347442,6.869042
46,Estudante_47,12,9.542978,7.183736,7.931265,8.433335,9.907344,8.548143
47,Estudante_48,16,6.468071,8.882796,6.417439,6.268398,NaN,5.412293
48,Estudante_49,14,NaN,7.678021,6.389888,7.773704,9.068662,6.991865
49,Estudante_50,13,5.650143,9.768711,7.273110,8.124654,7.732282,8.854405

---

Filtrando os dados

In [67]:
df_estudo.isnull().sum()

Nome_Aluno            0
Idade                 0
Nota_Algebra          4
Nota_Geometria        7
Nota_Numeros          4
Nota_Grandezas        3
Nota_Estatistica      7
Nota_Probabilidade    4
dtype: int64

In [68]:
df_estudo = df_estudo.fillna(0)

In [69]:
df_estudo.isnull().sum()

Nome_Aluno            0
Idade                 0
Nota_Algebra          0
Nota_Geometria        0
Nota_Numeros          0
Nota_Grandezas        0
Nota_Estatistica      0
Nota_Probabilidade    0
dtype: int64

In [70]:
registro_a_remover = df_estudo.query('Nota_Algebra == 0 | Nota_Geometria == 0 | Nota_Numeros == 0 | Nota_Grandezas == 0 | Nota_Estatistica == 0 | Nota_Probabilidade == 0').index

In [71]:
df_estudo.drop(registro_a_remover, axis=0, inplace=True)

In [75]:
df_estudo

,Nome_Aluno,Idade,Nota_Algebra,Nota_Geometria,Nota_Numeros,Nota_Grandezas,Nota_Estatistica,Nota_Probabilidade
4,Estudante_5,14,5.733779,7.101839,9.464735,8.488644,7.442056,5.538283
6,Estudante_7,12,5.931301,6.023243,5.627927,9.881372,8.829539,7.649087
8,Estudante_9,12,6.983837,6.498273,5.257336,6.264912,6.484003,6.677039
9,Estudante_10,13,7.694084,6.334136,7.204049,7.173958,5.938606,8.112597
10,Estudante_11,13,7.095973,8.105669,5.149381,8.896915,5.403706,7.190707
11,Estudante_12,16,8.426098,7.645710,7.284166,5.988425,8.692201,8.679411
12,Estudante_13,16,6.022261,5.672900,8.245720,9.314966,7.206546,7.590182
13,Estudante_14,15,9.390587,7.567891,6.392436,9.917003,5.791549,7.894293
18,Estudante_19,15,5.701935,9.232807,6.296262,5.220800,8.143940,9.381338
19,Estudante_20,16,5.990507,5.398227,7.075506,9.783265,7.899189,9.118797
21,Estudante_22,16,9.841308,5.326433,8.465690,9.744887,6.329096,8.593186
23,Estudante_24,15,8.461613,5.482655,5.784339,9.331446,6.267941,8.682033
28,Estudante_29,12,5.849152,6.101531,6.939856,8.666901,9.801134,7.016281
29,Estudante_30,17,9.390713,6.749131,9.681918,7.042219,5.942073,6.084756
32,Estudante_33,16,9.789448,8.202034,9.514171,7.608481,8.499218,6.278070
34,Estudante_35,14,8.459386,7.526184,6.889970,5.791117,5.114665,7.995030
35,Estudante_36,15,6.577578,6.934463,5.461085,7.726013,7.888314,8.586661
36,Estudante_37,17,8.432505,8.968187,8.267055,7.622020,5.008211,9.686748
37,Estudante_38,13,9.173128,7.900021,7.789204,8.188051,7.577363,6.759049
38,Estudante_39,16,5.091441,5.811493,6.807824,7.007477,8.198976,6.268170
40,Estudante_41,15,9.944305,9.822755,7.032600,6.984500,6.295488,8.732554
42,Estudante_43,14,6.402220,9.447600,6.346178,8.837025,9.352415,7.030539
43,Estudante_44,17,8.946397,6.708068,6.458964,5.894870,9.613748,9.946899
45,Estudante_46,13,7.239468,7.137730,9.302670,7.512665,7.347442,6.869042
46,Estudante_47,12,9.542978,7.183736,7.931265,8.433335,9.907344,8.548143
49,Estudante_50,13,5.650143,9.768711,7.273110,8.124654,7.732282,8.854405

---

Estudando as variaveis separadamente

ALGEBRA

In [81]:
df_estudo['Nota_Algebra']

4     5.733779
6     5.931301
8     6.983837
9     7.694084
10    7.095973
11    8.426098
12    6.022261
13    9.390587
18    5.701935
19    5.990507
21    9.841308
23    8.461613
28    5.849152
29    9.390713
32    9.789448
34    8.459386
35    6.577578
36    8.432505
37    9.173128
38    5.091441
40    9.944305
42    6.402220
43    8.946397
45    7.239468
46    9.542978
49    5.650143
Name: Nota_Algebra, dtype: float64

In [97]:
df_estudo['Nota_Algebra'].mean()

7.606236291587306

In [78]:
acima_media_algebra = df_estudo['Nota_Algebra'] > df_estudo['Nota_Algebra'].mean()

In [79]:
df_estudo[acima_media_algebra]['Nota_Algebra']

9     7.694084
11    8.426098
13    9.390587
21    9.841308
23    8.461613
29    9.390713
32    9.789448
34    8.459386
36    8.432505
37    9.173128
40    9.944305
43    8.946397
46    9.542978
Name: Nota_Algebra, dtype: float64

In [77]:
abaixo_media_algebra = df_estudo['Nota_Algebra'] <= df_estudo['Nota_Algebra'].mean()

In [80]:
df_estudo[abaixo_media_algebra]['Nota_Algebra']

4     5.733779
6     5.931301
8     6.983837
10    7.095973
12    6.022261
18    5.701935
19    5.990507
28    5.849152
35    6.577578
38    5.091441
42    6.402220
45    7.239468
49    5.650143
Name: Nota_Algebra, dtype: float64

ESTATISTICA

In [86]:
df_estudo['Nota_Estatistica']

4     7.442056
6     8.829539
8     6.484003
9     5.938606
10    5.403706
11    8.692201
12    7.206546
13    5.791549
18    8.143940
19    7.899189
21    6.329096
23    6.267941
28    9.801134
29    5.942073
32    8.499218
34    5.114665
35    7.888314
36    5.008211
37    7.577363
38    8.198976
40    6.295488
42    9.352415
43    9.613748
45    7.347442
46    9.907344
49    7.732282
Name: Nota_Estatistica, dtype: float64

In [98]:
df_estudo['Nota_Estatistica'].mean()

7.411809475862891

In [84]:
acima_media_estatistica = df_estudo['Nota_Estatistica'] > df_estudo['Nota_Estatistica'].mean()

In [85]:
df_estudo[acima_media_estatistica]['Nota_Estatistica']

4     7.442056
6     8.829539
11    8.692201
18    8.143940
19    7.899189
28    9.801134
32    8.499218
35    7.888314
37    7.577363
38    8.198976
42    9.352415
43    9.613748
46    9.907344
49    7.732282
Name: Nota_Estatistica, dtype: float64

In [89]:
abaixo_media_estatistica = df_estudo['Nota_Estatistica'] <= df_estudo['Nota_Estatistica'].mean()

In [90]:
df_estudo[abaixo_media_estatistica]['Nota_Estatistica']

8     6.484003
9     5.938606
10    5.403706
12    7.206546
13    5.791549
21    6.329096
23    6.267941
29    5.942073
34    5.114665
36    5.008211
40    6.295488
45    7.347442
Name: Nota_Estatistica, dtype: float64

GEOMETRIA

In [92]:
df_estudo['Nota_Geometria']

4     7.101839
6     6.023243
8     6.498273
9     6.334136
10    8.105669
11    7.645710
12    5.672900
13    7.567891
18    9.232807
19    5.398227
21    5.326433
23    5.482655
28    6.101531
29    6.749131
32    8.202034
34    7.526184
35    6.934463
36    8.968187
37    7.900021
38    5.811493
40    9.822755
42    9.447600
43    6.708068
45    7.137730
46    7.183736
49    9.768711
Name: Nota_Geometria, dtype: float64

In [99]:
df_estudo['Nota_Geometria'].mean()

7.25582419830685

In [93]:
acima_media_geometria = df_estudo['Nota_Geometria'] > df_estudo['Nota_Geometria'].mean()

In [94]:
df_estudo[acima_media_geometria]['Nota_Geometria']

10    8.105669
11    7.645710
13    7.567891
18    9.232807
32    8.202034
34    7.526184
36    8.968187
37    7.900021
40    9.822755
42    9.447600
49    9.768711
Name: Nota_Geometria, dtype: float64

In [95]:
abaixo_media_geometria = df_estudo['Nota_Geometria'] <= df_estudo['Nota_Geometria'].mean()

In [96]:
df_estudo[abaixo_media_geometria]['Nota_Geometria']

4     7.101839
6     6.023243
8     6.498273
9     6.334136
12    5.672900
19    5.398227
21    5.326433
23    5.482655
28    6.101531
29    6.749131
35    6.934463
38    5.811493
43    6.708068
45    7.137730
46    7.183736
Name: Nota_Geometria, dtype: float64

GRANDEZAS

In [100]:
df_estudo['Nota_Grandezas']

4     8.488644
6     9.881372
8     6.264912
9     7.173958
10    8.896915
11    5.988425
12    9.314966
13    9.917003
18    5.220800
19    9.783265
21    9.744887
23    9.331446
28    8.666901
29    7.042219
32    7.608481
34    5.791117
35    7.726013
36    7.622020
37    8.188051
38    7.007477
40    6.984500
42    8.837025
43    5.894870
45    7.512665
46    8.433335
49    8.124654
Name: Nota_Grandezas, dtype: float64

In [101]:
df_estudo['Nota_Grandezas'].mean()

7.901766260473

In [102]:
acima_media_grandeza = df_estudo['Nota_Grandezas'] > df_estudo['Nota_Grandezas'].mean()

In [103]:
df_estudo[acima_media_grandeza]['Nota_Grandezas']

4     8.488644
6     9.881372
10    8.896915
12    9.314966
13    9.917003
19    9.783265
21    9.744887
23    9.331446
28    8.666901
37    8.188051
42    8.837025
46    8.433335
49    8.124654
Name: Nota_Grandezas, dtype: float64

In [104]:
abaixo_media_grandeza = df_estudo['Nota_Grandezas'] <= df_estudo['Nota_Grandezas'].mean()

In [105]:
df_estudo[abaixo_media_grandeza]['Nota_Grandezas']

8     6.264912
9     7.173958
11    5.988425
18    5.220800
29    7.042219
32    7.608481
34    5.791117
35    7.726013
36    7.622020
38    7.007477
40    6.984500
43    5.894870
45    7.512665
Name: Nota_Grandezas, dtype: float64

NUMEROS

In [106]:
df_estudo['Nota_Numeros']

4     9.464735
6     5.627927
8     5.257336
9     7.204049
10    5.149381
11    7.284166
12    8.245720
13    6.392436
18    6.296262
19    7.075506
21    8.465690
23    5.784339
28    6.939856
29    9.681918
32    9.514171
34    6.889970
35    5.461085
36    8.267055
37    7.789204
38    6.807824
40    7.032600
42    6.346178
43    6.458964
45    9.302670
46    7.931265
49    7.273110
Name: Nota_Numeros, dtype: float64

In [107]:
df_estudo['Nota_Numeros'].mean()

7.2285928911391455

In [108]:
acima_media_numeros = df_estudo['Nota_Numeros'] > df_estudo['Nota_Numeros'].mean()

In [109]:
df_estudo[acima_media_numeros]['Nota_Numeros']

4     9.464735
11    7.284166
12    8.245720
21    8.465690
29    9.681918
32    9.514171
36    8.267055
37    7.789204
45    9.302670
46    7.931265
49    7.273110
Name: Nota_Numeros, dtype: float64

In [110]:
abaixo_media_numeros = df_estudo['Nota_Numeros'] <= df_estudo['Nota_Numeros'].mean()

In [111]:
df_estudo[abaixo_media_numeros]['Nota_Numeros']

6     5.627927
8     5.257336
9     7.204049
10    5.149381
13    6.392436
18    6.296262
19    7.075506
23    5.784339
28    6.939856
34    6.889970
35    5.461085
38    6.807824
40    7.032600
42    6.346178
43    6.458964
Name: Nota_Numeros, dtype: float64

PROBABILIDADE

In [112]:
df_estudo['Nota_Probabilidade']

4     5.538283
6     7.649087
8     6.677039
9     8.112597
10    7.190707
11    8.679411
12    7.590182
13    7.894293
18    9.381338
19    9.118797
21    8.593186
23    8.682033
28    7.016281
29    6.084756
32    6.278070
34    7.995030
35    8.586661
36    9.686748
37    6.759049
38    6.268170
40    8.732554
42    7.030539
43    9.946899
45    6.869042
46    8.548143
49    8.854405
Name: Nota_Probabilidade, dtype: float64

In [113]:
df_estudo['Nota_Probabilidade'].mean()

7.837050034335527

In [114]:
acima_media_probabilidade = df_estudo['Nota_Probabilidade'] > df_estudo['Nota_Probabilidade'].mean()

In [115]:
df_estudo[acima_media_probabilidade]['Nota_Probabilidade']

9     8.112597
11    8.679411
13    7.894293
18    9.381338
19    9.118797
21    8.593186
23    8.682033
34    7.995030
35    8.586661
36    9.686748
40    8.732554
43    9.946899
46    8.548143
49    8.854405
Name: Nota_Probabilidade, dtype: float64

In [116]:
abaixo_media_probabilidade = df_estudo['Nota_Probabilidade'] <= df_estudo['Nota_Probabilidade'].mean()

In [117]:
df_estudo[abaixo_media_probabilidade]['Nota_Probabilidade']

4     5.538283
6     7.649087
8     6.677039
10    7.190707
12    7.590182
28    7.016281
29    6.084756
32    6.278070
37    6.759049
38    6.268170
42    7.030539
45    6.869042
Name: Nota_Probabilidade, dtype: float64

In [120]:
df_estudo['Media'] = df_estudo.loc[:, 'Nota_Algebra':'Nota_Probabilidade'].mean(axis=1)

Acrescentando a coluna media

In [121]:
df_estudo

,Nome_Aluno,Idade,Nota_Algebra,Nota_Geometria,Nota_Numeros,Nota_Grandezas,Nota_Estatistica,Nota_Probabilidade,Media
4,Estudante_5,14,5.733779,7.101839,9.464735,8.488644,7.442056,5.538283,7.294889
6,Estudante_7,12,5.931301,6.023243,5.627927,9.881372,8.829539,7.649087,7.323745
8,Estudante_9,12,6.983837,6.498273,5.257336,6.264912,6.484003,6.677039,6.360900
9,Estudante_10,13,7.694084,6.334136,7.204049,7.173958,5.938606,8.112597,7.076238
10,Estudante_11,13,7.095973,8.105669,5.149381,8.896915,5.403706,7.190707,6.973725
11,Estudante_12,16,8.426098,7.645710,7.284166,5.988425,8.692201,8.679411,7.786002
12,Estudante_13,16,6.022261,5.672900,8.245720,9.314966,7.206546,7.590182,7.342096
13,Estudante_14,15,9.390587,7.567891,6.392436,9.917003,5.791549,7.894293,7.825627
18,Estudante_19,15,5.701935,9.232807,6.296262,5.220800,8.143940,9.381338,7.329514
19,Estudante_20,16,5.990507,5.398227,7.075506,9.783265,7.899189,9.118797,7.544249
21,Estudante_22,16,9.841308,5.326433,8.465690,9.744887,6.329096,8.593186,8.050100
23,Estudante_24,15,8.461613,5.482655,5.784339,9.331446,6.267941,8.682033,7.335005
28,Estudante_29,12,5.849152,6.101531,6.939856,8.666901,9.801134,7.016281,7.395809
29,Estudante_30,17,9.390713,6.749131,9.681918,7.042219,5.942073,6.084756,7.481802
32,Estudante_33,16,9.789448,8.202034,9.514171,7.608481,8.499218,6.278070,8.315237
34,Estudante_35,14,8.459386,7.526184,6.889970,5.791117,5.114665,7.995030,6.962725
35,Estudante_36,15,6.577578,6.934463,5.461085,7.726013,7.888314,8.586661,7.195686
36,Estudante_37,17,8.432505,8.968187,8.267055,7.622020,5.008211,9.686748,7.997454
37,Estudante_38,13,9.173128,7.900021,7.789204,8.188051,7.577363,6.759049,7.897803
38,Estudante_39,16,5.091441,5.811493,6.807824,7.007477,8.198976,6.268170,6.530897
40,Estudante_41,15,9.944305,9.822755,7.032600,6.984500,6.295488,8.732554,8.135367
42,Estudante_43,14,6.402220,9.447600,6.346178,8.837025,9.352415,7.030539,7.902663
43,Estudante_44,17,8.946397,6.708068,6.458964,5.894870,9.613748,9.946899,7.928158
45,Estudante_46,13,7.239468,7.137730,9.302670,7.512665,7.347442,6.869042,7.568169
46,Estudante_47,12,9.542978,7.183736,7.931265,8.433335,9.907344,8.548143,8.591133
49,Estudante_50,13,5.650143,9.768711,7.273110,8.124654,7.732282,8.854405,7.900551